:root {
    --title-color: #3C096C;
}

* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 44px auto 50px;
    column-gap: 15px;
    align-items: end;
    border-bottom: 2px solid #ddd;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.6rem;
    color: var(--title-color);
}
/* ============================= HAMBURGER MENU ============================== */
.hamburger {
    background-color: #fff;
    border: none;
    color: var(--title-color);
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}
